@font-face {
  font-family: 'Inter Tight Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('@fontsource-variable/inter-tight/files/inter-tight-latin-wght-normal.woff2')
    format('woff2');
}
